html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
}

li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
