{% include "base.html" %}

{% block content %}
<ul class="category">
  {% for page in paginator.pages %}
  <li class="page">
    <h2 class="title">
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h2>
    <div class="meta">
      <span>{{ page.word_count }} words </span>
      | <a href="{{ page.permalink }}">View all</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}

<nav clas="pagination">
  {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}">< Previous</a>
  {% endif %}
  {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">Next ></a>
  {% endif %}
</nav>
