<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's Blog</title>
</head>
<body>
<div class="sections">
  {% set homepage = get_section(path="_index.md") %}
  <a href="{{ homepage.permalink }}">{{ homepage.title }}</a> |
      <a href="/categories/posts">Posts</a> |
  <a href="/categories/resource">Resource</a> |
  {% set archive = get_section(path="archive/_index.md") %}
  <a href="{{ archive.permalink }}">{{ archive.title }}</a> |
  {% set comments = get_section(path="comments/_index.md") %}
  <a href="{{ comments.permalink }}">{{ comments.title }}</a> |
  {% set contact = get_section(path="contact/_index.md") %}
  <a href="{{ contact.permalink }}">{{ contact.title }}</a> |
</div>
    {% block content %}
    {% endblock %}
</body>
</html>
