<div class="header">
  <div class="container">
    {{ section.title }}
  </div>
  <div class="container">
    <ul class="subsections-list">
      {% for page in section.pages %}
      <li class="subsection-item">
        <h2 class="subsection-title">
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h2>
        <div class="subsection-meta">
          <span>{{ section.pages | length }} posts</span>
          | <a href="{{ page.permalink }}">View all</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
